<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runisys.server.dao.BucketModelMapper">
    <resultMap id="BucketResultMap" type="com.runisys.server.BucketModel">
        <id column="BUCKET_ID" property="bucketId"/>
        <result column="BUCKET_NAME" property="bucketName"/>
        <result column="DETAIL" property="detail"/>
        <result column="CREATOR" property="creator"/>
        <result column="CREATE_TIME" property="createTime"/>
    </resultMap>

    <insert id="addBucket">
        INSERT  INTO HOS_BUCKET
        (BUCKET_ID, BUCKET_NAME, CREATOR, DETAIL, CREATE_TIME)
        VALUES
        (#{bucket.bucketId},#{bucket.bucketName},#{bucket.creator},#{bucket.detail},#{bucket.createTime})
    </insert>
    <update id="updateBucket">
        UPDATE HOS_BUCKET SET BUCKET_NAME = #{bucketName}
        <if test="detail!=null and detail !=''">
            , DETAIL = #{detail}
        </if>
        WHERE BUCKET_NAME = #{bucketName}
    </update>

    <delete id="deleteBucket">
        DELETE FROM HOS_BUCKET WHERE BUCKET_NAME=#{bucketName}
    </delete>
    <select id="getBucket" resultMap="BucketResultMap">
      SELECT * FROM HOS_BUCKET WHERE BUCKET_ID = #{bucketId}
    </select>
    <select id="getBucketByName" resultMap="BucketResultMap">
        SELECT * FROM HOS_BUCKET WHERE BUCKET_NAME = #{bucketName}
    </select>
    <select id="getBucketByCreator" resultMap="BucketResultMap">
        SELECT * FROM HOS_BUCKET WHERE CREATOR = #{creator}
    </select>
    <select id="getUserAuthorizedBuckets" resultMap="BucketResultMap">
        SELECT * FROM HOS_BUCKET b, SERVIE_AUTH s WHERE
        s.TARGET_TOKEN = #{token} and s.BUCKET_NAME=b.BUCKET_NAME
    </select>
</mapper>